@{
    Layout = null;
}
<!-- Main navigation -->
<nav id="menu">
    <ul class="sf-menu">
        <li><a href="dashboard.html">Dashboard</a> </li>
        <li><a href="styles.html">Styles</a>
            <ul>
                <li><a href="styles.html">Basic Styles</a> </li>
                <li><a href="#">Sample Pages...</a>
                    <ul>
                        <li><a href="samples-files.html">Files</a> </li>
                        <li><a href="samples-products.html">Products</a> </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a href="tables.html">Tables</a> </li>
        <li class="current"><a href="forms.html">Forms</a> </li>
        <li><a href="graphs.html">Graphs</a> </li>
    </ul>
</nav>
<!-- End of Main navigation -->
