@{
    ViewBag.Title = "用户管理";
}
<!-- Page title -->
<div id="pagetitle">
    <div class="wrapper">
        <h1>系统管理 &rarr; <span>用户管理</span></h1>
        <!-- Quick search box -->
        <form action="" method="get">
            <input class="" type="text" id="q" name="q" value="请输入搜索关键字" />
        </form>
    </div>
</div>
<!-- End of Page title -->
<!-- Page content -->
<div id="page">
    <!-- Wrapper -->
    <div class="wrapper">
        <!-- 左边分部小节开始 -->
        <section class="column width6 first">
            <h3>功能简介</h3>
            <div class="box box-info">
                供网站用户账户信息永久存储功能。
            </div>
            <!--用户列表开始-->
            <h3>用户列表</h3>
            <table class="display stylized" id="example">
                <thead>
                    <tr>
                        <th>用户账号
                        </th>
                        <th>用户昵称
                        </th>
                        <th>最后登录
                        </th>
                        <th>当前状态
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="gradeX">
                        <td>Admin
                        </td>
                        <td>超级管理员
                        </td>
                        <td>2012-12-06 17:30:22
                        </td>
                        <td>在线
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th>用户账号
                        </th>
                        <th>用户昵称
                        </th>
                        <th>最后登录
                        </th>
                        <th>当前状态
                        </th>
                    </tr>
                </tfoot>
            </table>
            <div class="clear">
                &nbsp;
            </div>
            <!--用户列表结束-->
        </section>
        <!-- 左边分部小节结束 -->


        <!-- 右边分部小节开始 -->
        <aside class="column width2">
            @Html.Partial("_QuickMenu");
            <div class="content-box">
                <header>
                    <h3>便捷信息</h3>
                </header>
                <section>
                    <q>这里描述一段实用的便捷描述文字信息。
                    <cite>w3schools.com</cite></q>
                </section>
            </div>
        </aside>
        <!-- 右边分部小节结束 -->
    </div>
    <!-- End of Wrapper -->
</div>
<!-- End of Page content -->

<script type="text/javascript">
    $(function () {
        /* datatable */
        $('#example').dataTable();
    });
</script>
