@{
    Layout = null;
}
<div id="news1">
    <div class="tit">
        <div class="titleft">
            行业新闻</div>
        <div class="titright">
            <a href="/News-List.aspx?Type=2">
                <img src="@Url.Content("~/Content/images/more.jpg")" border="0" alt="查看更多产品" /></a></div>
    </div>
    <ul>
        <li><a href="S709.html"><span class="lbt">哪些因素可决定球磨机的转速？ </span><span class="ldt">2012-12-15
        </span></a></li>
        <li><a href="S708.html"><span class="lbt">各种类型圆锥破碎机机型与性能的比较 </span><span class="ldt">
            2012-12-14 </span></a></li>
        <li><a href="S707.html"><span class="lbt">立式破碎机在复合肥生产中的应用 </span><span class="ldt">2012-12-13
        </span></a></li>
        <li><a href="S706.html"><span class="lbt">红星格子型球磨机的结构特点 </span><span class="ldt">2012-12-12
        </span></a></li>
        <li><a href="S705.html"><span class="lbt">立式冲击破碎机的结构特征及应用 </span><span class="ldt">2012-12-11
        </span></a></li>
        <li><a href="S704.html"><span class="lbt">旋回破碎机的发展简况介绍 </span><span class="ldt">2012-12-10
        </span></a></li>
        <li><a href="S703.html"><span class="lbt">怎样正确地使用与维护圆锥破碎机 </span><span class="ldt">2012-12-08
        </span></a></li>
        <li><a href="S702.html"><span class="lbt">BC系列细粒破碎机的结构及工作原理 </span><span class="ldt">
            2012-12-07 </span></a></li>
        <li><a href="S701.html"><span class="lbt">如何实现球磨机给矿量的自动控制 </span><span class="ldt">2012-12-06
        </span></a></li>
        <li><a href="S700.html"><span class="lbt">辊式磨的五大操作要点 </span><span class="ldt">2012-12-04
        </span></a></li>
        <li><a href="S699.html"><span class="lbt">超细磨比球磨机的粉磨效率高 </span><span class="ldt">2012-12-03
        </span></a></li>
        <li><a href="S698.html"><span class="lbt">球磨机研磨体的几种配球方法 </span><span class="ldt">2012-12-03
        </span></a></li>
        <li><a href="S697.html"><span class="lbt">MMD双辊式破碎机的破碎机理 </span><span class="ldt">2012-12-01
        </span></a></li>
        <li><a href="S696.html"><span class="lbt">怎样对离心选矿机的转鼓进行设计 </span><span class="ldt">2012-11-29
        </span></a></li>
    </ul>
</div>
