@{
    Layout = null;
}
<div class="bj">
    <a href="/1.html">
        <img src="product/qiumoji2.jpg" alt="球磨机" border="0" align="right" style="padding: 5px;"></a>
    <h2>
        球磨机的主要用途：</h2>
    球磨机是物料被破碎之后，再进行粉碎的关键设备，该机是我公司引进行业先进技术，结合公司其它磨机生产技术与经验，开发研制的新一代产品。球磨机广泛应用于水泥，硅酸盐制品，新型建筑材料、耐火材料、化肥、黑色与有色金属选矿以及玻璃陶瓷等生产行业，对各种矿石和其它可磨性物料进行干式或湿式粉磨两种方式粉磨。<br>
    <h2>
        工作原理：</h2>
    本机为卧式筒形旋转装置，外沿齿轮传动，两仓，格子型球磨机。物料由进料装置经入料中空轴螺旋均匀地进入球磨机第一仓，该仓内有阶梯衬板或波纹衬板，内装不同规格钢球，筒体转达动产生离心力将钢球带到一定高度后落下，对物料产生重击和研磨作用。物料在第一仓达到粗磨后，经单层隔仓板进入第二仓，该仓内镶有平衬板，内有钢球，将物料进一步研磨。粉状物通过卸料篦板排出，完成粉磨作业。<br>
    <h2>
        结构特点：</h2>
    球磨机由给料部、出料部、回转部、传动部（减速机，小传动齿轮，电机，电控）等主要部分组成。中空轴采用铸钢件，内衬可拆换，回转大齿轮采用铸件滚齿加工，筒体内镶有耐磨衬板，具有良好的耐磨性。本机运转平稳，工作可靠。<br>
    注：根据物料及排矿方式，可选择干式球磨机和湿式格子型球磨机。
</div>
