@{
    Layout = null;
}
<div class="productlist" style="margin-top: 10px; height: 340px;">
    <div class="newtit">
        球磨机知识</div>
    <div class="bk_con">
        <ul>
            <li><a href="#">球磨机常见焊接工艺和方法以及各堆焊</a></li>
            <li><a href="#">红星人讲述球磨机齿轮零部件加工工艺</a></li>
            <li><a href="#">红星机器阐述我国近半个世纪以来球磨</a></li>
        </ul>
    </div>
</div>
