@model Smart.Portal.Models.Pages
@{
    Layout = null;
}
<div>
    <ul class="pagelist1">
        
        <li><a href='#' target="_blank"><span class="lbt">哪些因素可决定球磨机的转速？ </span><span class="ldt">
            2012-12-15 </span></a></li>
        <li><a href='#' target="_blank"><span class="lbt">各种类型圆锥破碎机机型与性能的比较 </span><span
            class="ldt">2012-12-14 </span></a></li>
        <li><a href='#' target="_blank"><span class="lbt">立式破碎机在复合肥生产中的应用 </span><span class="ldt">
            2012-12-13 </span></a></li>
    </ul>
</div>
<div>
    &nbsp;&nbsp;&nbsp;&nbsp;
</div>
<div id="ctl00_main_PageInfo" class="fenye">
    <span class='disabled'>&lt;&lt; </span><span class='disabled'>&lt; </span><span class='current'>
        1</span> <a href='News-List.aspx?Type=2&page=2' title='第2页'>&nbsp;2&nbsp;</a>
    <a href='News-List.aspx?Type=2&page=3' title='第3页'>&nbsp;3&nbsp;</a> <a href='News-List.aspx?Type=2&page=4'
        title='第4页'>&nbsp;4&nbsp;</a> <a href='News-List.aspx?Type=2&page=5' title='第5页'>&nbsp;5&nbsp;</a>
    <a href='News-List.aspx?Type=2&page=6' title='第6页'>&nbsp;6&nbsp;</a><a href='News-List.aspx?Type=2&page=2'
        title='向后一页'> &gt;</a><a href='News-List.aspx?Type=2&page=13' title='末页'> &gt;&gt;
    </a>
</div>
