@{
    Layout = null;
}
<div id="product1">
    <div class="tit">
        <div class="titleft">
            产品展示</div>
        <div class="titright">
            <a href="@Url.Content("~/Home/Products")">
                <img src="@Url.Content("~/Content/images/more.jpg")" border="0" alt="查看更多产品" /></a></div>
    </div>
    <ul>
        <li><a href="#">
            <img src="#" alt="产品图片" border="0" /></a> <a href="#"><span><b>产品名称</b></span></a><br />
            产品描述产品描述产品描述产品描述产品描述产品述</li>
        <li><a href="#">
            <img src="#" alt="产品图片" border="0" /></a> <a href="#"><span><b>产品名称</b></span></a><br />
            产品描述产品描述产品描述产品描述产品描述产品述</li>
        <li><a href="#">
            <img src="#" alt="产品图片" border="0" /></a> <a href="#"><span><b>产品名称</b></span></a><br />
            产品描述产品描述产品描述产品描述产品描述产品述</li>
        <li><a href="#">
            <img src="#" alt="产品图片" border="0" /></a> <a href="#"><span><b>产品名称</b></span></a><br />
            产品描述产品描述产品描述产品描述产品描述产品述</li>
        <li><a href="#">
            <img src="#" alt="产品图片" border="0" /></a> <a href="#"><span><b>产品名称</b></span></a><br />
            产品描述产品描述产品描述产品描述产品描述产品述</li>
        <li><a href="#">
            <img src="#" alt="产品图片" border="0" /></a> <a href="#"><span><b>产品名称</b></span></a><br />
            产品描述产品描述产品描述产品描述产品描述产品述</li>
    </ul>
</div>
