@{
    Layout = null;
}
<div id="product1">
    <div class="tit">
        <div class="titleft">
            产品展示</div>
        <div class="titright">
            <a href="Product-List.aspx?Type=3">
                <img src="@Url.Content("~/Content/images/more.jpg")" border="0" alt="查看更多产品" /></a></div>
    </div>
    <ul>
        <li><a href="2.html">
            <img src="ProductImages/2011030111494419517239.jpg" alt="圆锥球磨机" border="0" /></a><a
                href="2.html"><span><b>圆锥球磨机</b></a><br />
            圆锥球磨机是物料被破碎之后，再进行粉碎的关键设备。圆锥球磨机广泛应用于水泥，硅酸盐制品，新型建筑材料、耐火材料、化肥、黑色与有色金属选矿以及玻璃陶瓷等生产行业，对各种矿石和其它可磨性物料进行干式或湿式粉磨。该机可用在磨煤、矿渣、钢渣等生产当中，该机有时候也叫高细磨、高产磨、磨矿机等。</li><li>
                <a href="3.html">
                    <img src="ProductImages/2011030111483919514409.jpg" alt="陶瓷球磨机" border="0" /></a><a
                        href="3.html"><span><b>陶瓷球磨机</b></a><br />
                陶瓷球磨机主要用于物料的混合、研磨、产品的细度均匀、节省动力。既可干磨、也可湿磨。该机可以根据生产需要采用不同的衬板类型，以满足不同需要。研磨作业的细度，依靠研磨时间自行控制。</li><li>
                    <a href="4.html">
                        <img src="ProductImages/2011030113022318019907.jpg" alt="棒磨机" border="0" /></a><a
                            href="4.html"><span><b>棒磨机</b></a><br />
                    公司采用先进的可控进出料技术,结合实际的研磨物料应配用合适的研磨体,以传统的面接触改为线接触,使出料粒度更为均匀,产量更高，广泛使用于耐材、化工、冶金、玻璃等行业对磨后成品均匀度要求比较高的研磨作业。</li><li>
                        <a href="1.html">
                            <img src="ProductImages/2011030111491882016510.jpg" alt="球磨机" border="0" /></a><a
                                href="1.html"><span><b>球磨机</b></a><br />
                        球磨机广泛应用于水泥，硅酸盐制品，新型建筑材料、耐火材料、化肥、黑色与有色金属选矿以及玻璃陶瓷等生产行业，对各种矿石和其它可磨性物料进行干式或湿式粉磨。是物料被破碎之后，再进行粉碎的关键设备。</li>
    </ul>
</div>
