@model Smart.Portal.Models.Pages
@{
    Layout = null;
}
<div class="productlist" style="height: 276px;">
    <div class="producttit">
        产品列表</div>
    <div class="list_con">
        <ul>
            <li><a href="#">圆锥球磨机</a></li>
            <li><a href="#">陶瓷球磨机</a></li>
            <li><a href="#">棒磨机</a></li>
            <li><a href="#">球磨机</a></li>
            <li><a href="#">水泥磨</a></li>
        </ul>
    </div>
</div>
