@{
    Layout = null;
}
<div id="rightmenu">
    <header>
        <h3>快捷操作</h3>
    </header>
    <dl class="first">
        <dt>
            <img width="16" height="16" alt="Basic styles" src="@Url.Content("~/Content/img/style.png")">
        </dt>
        <dd>
            <a href="@Url.Content("~/Article/Index")">文章列表</a>
        </dd>
        <dd class="last">点击链接查看文章列表。
        </dd>
    </dl>
    <dl>
        <dt>
            <img width="16" height="16" alt="Basic styles" src="@Url.Content("~/Content/img/style.png")">
        </dt>
        <dd>
            <a href="@Url.Content("~/Article/Add")">添加文章</a>
        </dd>
        <dd class="last">点击链接添加一篇新文章。
        </dd>
    </dl>
</div>
