@{
    Layout = null;
}
<div id="footer1">
    <div id="footer">
    </div>
    <div id="bottom">
        地址：中国-郑州-国家高新技术产业开发区檀香路 &nbsp;&nbsp; 邮编：450001 <a href="#">网站地图</a> <a href="#" target="_blank">
            圆锥破碎机</a><br />
        球磨机销售专线：+86-371-67825033&nbsp;&nbsp;67825683 &nbsp;&nbsp; E-mail：hxjq@hxjq.cn &nbsp;&nbsp;
        传真：+86-371-67825066 &nbsp;&nbsp; 版 权：&copy;河南红星<a href="#"><strong>球磨机</strong></a>专题网所有
    </div>
</div>
