@{
    Layout = null;
}
<div id="top1">
    <div id="top">
        <img src="@Url.Content("~/Content/images/logo.gif")" width="465" height="52" />
        <div id="ajbg">
            <a href="#">&nbsp;&nbsp;&nbsp;联系我们</a>
            <a href="#">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;服务支持</a>
            <a href="#">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;网站地图</a>
        </div>
    </div>
</div>
