@{
    Layout = null;
}
<div id="top1">
    <div id="top">
        <img src="@Url.Content("~/Content/images/logo.gif")" width="400" height="60"/>
        <div id="ajbg">
            <a href="#">&nbsp;&nbsp;&nbsp;联系我们</a>
            <a href="#">&nbsp;&nbsp;&nbsp;服务支持</a>
            <a href="#">&nbsp;&nbsp;&nbsp;网站地图</a>
            <a target="_blank" href="@Url.Content("~/admin/System/Login")">&nbsp;&nbsp;&nbsp;管理入口</a>
        </div>
    </div>
</div>
