@{
    Layout = null;
}
<!--nav开始-->
<div id="nav1">
    <div id="nav">
        <ul>
            <li class="white"><a href="#" class="li1">球磨机</a></li>
            <li class="white"><a href="#">破碎设备</a></li>
            <li class="white"><a href="#">制砂设备</a></li>
            <li class="white"><a href="#">磨粉设备</a></li>
            <li class="white"><a href="#">选矿设备</a></li>
            <li class="white"><a href="#">产品知识</a></li>
            <li class="white"><a href="#">行业新闻</a></li>
            <li class="white" style="background-image: none;">
                <a href="#">关于红星</a>
            </li>
        </ul>
    </div>
</div>
<div id="navdx">
</div>
