@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>调查问卷 - 网站后台管理系统V1.0.1</title>
    <meta name="description" content="调查问卷" />
    <meta name="keywords" content="调查问卷" />
    
    <!--应用公共头文件-->
    @Html.Partial("_ReferenceHead")

    <script type="text/javascript">
        $(document).ready(function () {
        });
    </script>
</head>
<body>
    <!-- Header -->
    <header id="top">
        <div class="wrapper-login">
            <!-- Title/Logo - can use text instead of image -->
            <div id="title">
                <img src="@Url.Content("~/content/img/logo.png")" alt="Administry" />
            </div>
            <!-- Main navigation -->
            <nav id="menu">
                <ul class="sf-menu">
                    <li><a href="#">调查问卷</a> </li>
                </ul>
            </nav>
            <!-- End of Main navigation -->
            <!-- Aside links -->
            <aside>
                <b>简体中文</b><!-- &middot; <a href="#">English</a>-->
            </aside>
            <!-- End of Aside links -->
        </div>
    </header>
    <!-- End of Header -->
    <!-- Page title -->
    <div id="pagetitle">
        <div class="wrapper-login">
        </div>
    </div>
    <!-- End of Page title -->
    <!-- Page content -->
    <div id="page">
        <!-- Wrapper -->
        <div class="wrapper-login">
            <!-- 调查问卷 -->
            <section class="full">
                <h3>
                    调查问卷</h3>
                <div class="box box-info">
                    请输入您的宝贵意见，以便支持我们的改进工作！
                </div>
                <form id="form" method="post" action="#">
                <p>
                    <a href="#" class="btn btn-green big">提交反馈</a> 
                    <a href="@Url.Content("~/System/Install")" class="btn btn-green big">返回安装</a>
                </p>
                <div class="clear">
                    &nbsp;
                </div>
                </form>
            </section>
            <!-- 调查问卷 -->
        </div>
        <!-- End of Wrapper -->
    </div>
    <!-- End of Page content -->
    <!-- Page footer -->
    <footer id="bottom">
        <div class="wrapper-login">
            <p>
                Copyright &copy; 2012 <b><a href="#" title="">SmartAdmin</a></b>
            </p>
        </div>
    </footer>
    <!-- End of Page footer -->
</body>
</html>
